.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.section-separator {
  margin: 40px 0;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.section-title {
  font-size: 24px; /* Match your existing h2 size */
  font-weight: 600;
  margin-bottom: 20px;
}