{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="POST">
  Username: <input type="text" name="username" required><br>
  Password: <input type="password" name="password" required><br>

  {% if current_user.is_authenticated and current_user.role == 'admin' %}
  Role:
  <select name="role">
    <option value="customer">Customer</option>
    <option value="staff">Staff</option>
    <option value="admin">Admin</option>
  </select><br>
  {% endif %}

  <input type="submit" value="Register">
</form>
{% endblock %}